* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #707070;
  font-family: sans-serif;
}

header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 30px;
}

h1 {
  width: 350px;
  text-align: center;
  color:#6FE3FF;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.07em;
}

.leads-container {
  padding: 0 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.leads-container div p:nth-of-type(1) {
  font-weight: 900;
  margin-bottom: 5px;
}

.leads-container div p:nth-of-type(2) {
  font-weight: lighter;
}

.flex {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list-color {
  height: 20px;
  width: 20px;
  background-color: #6FE3FF;
  margin-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'aside main';
}

aside {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

aside h3 {
  font-size: 1.6rem;
  margin-bottom: 40px;
}

aside button {
  background-color: #6FE3FF;
  margin-bottom: 40px;
  border: none;
  outline: none;
  padding: 10px 40px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

section {
  padding: 50px;
  background-color: #F5F5F5;
}

.graphics-cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.graphics-cards-container div {
  flex-grow: 1;
  height: 120px;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  padding-top: 30px;
  position: relative;
  overflow: hidden;
}

#foo{
  height:150px;
  width:150px;
  background:white;
  position:absolute;
  left:70%;
  top:5%;
  border-radius: 50%;
  opacity: 0.2;
}
  
  #bar{
    height:140px;
    width:140px;
    background: white;
    border-radius:50%;
    position:absolute;
    left:60%;
    top:20%;
    opacity: 0.2;
  }

.graphics-cards-container div p {
  margin-bottom: 14px;
  
}

.graphics-cards-container div p:nth-of-type(2) {
  font-size: 2rem;
  font-weight: lighter;
}

.card-one {
  background-color: #6FE3FF;
}

.card-two {
  background-color: #51B25C;
}

.card-three {
  background-color: #FF6565;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  padding: 20px 40px;
  border-collapse: collapse;
}


table th, table td {
  height: 50px;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding: 20px 10px;
}



.pass {
  background-color: #51B25C;
  color: white;
  padding: 4px;
  width: 80%;
}

.fail {
  background-color: #FF6565;
  color: white;
  padding: 4px;
  width: 80%;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 200px 1fr;
  }

  section {
    padding: 20px;
  }

  h1 {
    width: 200px;
    font-size: 1.5rem
  }
}

@media (max-width: 786px) {
  .grid-container {
    display: block;
  }

  aside {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  aside h3 {
    margin-right: 30px;
  }

  .leads-container {
    padding: 0 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  header {
    display: block;
    padding-top: 10px;
  }
  h1 {
    display: block;
    width: 100%;
    padding-bottom: 20px;
  }
}

.pager::before {
  content: 'Jump To: ';
  padding-top: 5px;
  margin-right: 10px;
}

.pager {
  margin-top: 20px;
  display: flex;
  width: 200px;
}

.pager-item {
  padding: 5px 12px;
  color: black;
  cursor: pointer;
}

.inactive {
  display: none;
}

.selected {
  background-color: #df7120;
  color: white;
  border-radius: 10px;
}

#input {
  background-image: url('/assets/icons8-search-26.png'); 
  background-position: 8px 8px; 
  background-repeat: no-repeat; 
  width: 100%;
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
}

